absl-py
aiohttp
anyio
argon2-cffi
arviz
astunparse
async-timeout
attrs
backcall
beautifulsoup4
bleach
boto3
botocore
branca
cachetools
certifi
cffi
chardet
click
colorama
convertdate
cryptography
cycler
decorator
defusedxml
docutils
entrypoints
fastapi
folium
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
googleapis-common-protos
grpcio
h11
h5py
holidays
idna
imbalanced-learn
importlib-metadata
ipykernel
ipython
ipywidgets
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
keras==2.4.3
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
multidict
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numpy
oauthlib
openpyxl
pandas
pandasql
parso
pexpect
Pillow
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
pydantic
pydantic-core
Pygments
pymongo
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pyyaml
pyzmq
qtconsole
requests
rsa
scikit-learn
scipy
seaborn
setuptools
six
smart-open
sniffio
soupsieve
SQLAlchemy
starlette
statsmodels
tensorboard
tensorboard-plugin-wit
tensorflow-cpu====2.3.1
tensorflow-estimator
termcolor
terminado
threadpoolctl
tornado
tqdm
traitlets
typing-extensions
urllib3
uvicorn
vaderSentiment
wcwidth
webencodings
Werkzeug
wheel
widgetsnbextension
wrapt
xarray
xgboost
yarl
zipp
